<!--

-->
<div class="mb-5 w-75" style="margin-left: 15%">
    <div class="card">
        <div class="card-header"> Fiche Mission </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option>Domaine 1</option>
                        <option>Domaine 2</option>
                        <option>Domaine 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="custom-control custom-checkbox pull-right">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Active</label>
                    </div>
                </div>
            </div>
            <!--[/row]-->

            <input class="form-control mt-3" type="text" placeholder="Résumé court">

            <textarea class="form-control mt-3" placeholder="Objectifs" rows="3"></textarea>

            <div class="mt-3 border border-dark pb-3">
                <ngb-tabset>
                    <ngb-tab title="Contraintes">
                        <ng-template ngbTabContent>
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Delai">
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Ressource">
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Technologie">
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Autres">
                        </ng-template>
                    </ngb-tab>
                    <!--[/Contraintes]-->
                    <ngb-tab title="Affectations">
                        <ng-template ngbTabContent>
                            <div class="mt-3 ml-3 w-75">
                                <div class="row">
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>Choix ressource mobile</option>
                                            <option>Ressources 1</option>
                                            <option>Ressources 2</option>
                                            <option>Ressources 3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-secondary pull-right">Affecter la ressource</button>
                                    </div>
                                </div>
                                <!--[/row]-->
                                <div class="mt-3">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nom Prénom</th>
                                                <th scope="col">Tigramme</th>
                                                <th scope="col">Rôle</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Geoffrey Van Dooren</td>
                                                <td>GVD</td>
                                                <td>Architecte</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Geoffrey Van Dooren</td>
                                                <td>GVD</td>
                                                <td>Architecte</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!--[/Affectations]-->
                    <ngb-tab title="Intervenants">
                        <ng-template ngbTabContent>
                            <div class="mt-3 ml-3 w-75">
                                <div class="row">
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>Choix Intervenant</option>
                                            <option>Ressources 1</option>
                                            <option>Ressources 2</option>
                                            <option>Ressources 3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-secondary pull-right">Ajouter intervenant</button>
                                    </div>
                                </div>
                                <!--[/row]-->
                                <div class="mt-3">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nom Prénom</th>
                                                <th scope="col">Tigramme</th>
                                                <th scope="col">Rôle</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Geoffrey Van Dooren</td>
                                                <td>GVD</td>
                                                <td>Architecte</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Geoffrey Van Dooren</td>
                                                <td>GVD</td>
                                                <td>Architecte</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!--[/Intervenants]-->
                    <ngb-tab title="Livrables">
                        <ng-template ngbTabContent>
                            <div class="row  mt-3 ml-3">
                                <div class="col-md-4 border border-primary">
                                    <input type="number" class="form-control mb-2 mt-3 w-50" placeholder="Numéro">
                                    <input type="date" class="form-control mb-2 w-75 d-inline mr-2"> 
                                    <button class="btn btn-secondary btn-sm">
                                            <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </button>
                                    <input type="text" class="form-control mb-2" placeholder="Livrable">
                                    <button type="button" class="btn btn-primary btn-sm pull-right mb-3 mt-2">Ajouter livrable</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-6 border border-primary">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Numéro</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Livrable</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>01/04/2018</td>
                                                <td>toto tutu ruru fffffffffff rrrrrrh  ggg</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>01/04/2018</td>
                                                <td>toto tutu ruru</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!--[/Livrables]-->
                </ngb-tabset>
            </div>

            <div class="mt-5 pull-right">
                <button class="btn btn-warning">
                    <span class="fa fa-times-circle"></span>
                    Abandonner
                </button>
                <button class="btn btn-primary">
                    <span class="fa fa-save"></span>
                    Sauver
                </button>
            </div>
        </div>
    </div>
</div>