<!--

-->
<div style="width: 70%; margin-left: 15%;">
    <div class="card">
        <div class="card-header"> Fiche Mission </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option>Domaine 1</option>
                        <option>Domaine 2</option>
                        <option>Domaine 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="custom-control custom-checkbox pull-right">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Active</label>
                    </div>
                </div>
            </div>
            <!--[/row]-->

            <input class="form-control mt-3" type="text" placeholder="Résumé court">

            <textarea class="form-control mt-3" placeholder="Objectifs" rows="3"></textarea>

            <div class="mt-3" style="height: 150px; border:solid">

            </div>

            <div class="mt-3 pull-right">
                <button class="btn btn-warning">
                    <span class="fa fa-times-circle"></span>
                    Abandonner
                </button>
                <button class="btn btn-primary">
                    <span class="fa fa-save"></span>
                    Sauver
                </button>
            </div>
        </div>
    </div>
</div>