<!--

-->
<div class="mb-5 w-75" style="margin-left: 15%">
    <div class="card">
        <div class="card-header"> Fiche Mission </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                        <option>Domaine 1</option>
                        <option>Domaine 2</option>
                        <option>Domaine 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="custom-control custom-checkbox pull-right">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Active</label>
                    </div>
                </div>
            </div>
            <!--[/row]-->

            <input class="form-control mt-3" type="text" placeholder="Résumé court">

            <textarea class="form-control mt-3" placeholder="Objectifs" rows="3"></textarea>

            <div class="mt-3 border border-dark pb-3">
                <ngb-tabset>
                    <ngb-tab title="Contraintes">
                        <ng-template ngbTabContent>
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Delai">
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Ressource">
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Technologie">
                            <input type="text" class="form-control m-3 ml-5 w-75" placeholder="Autres">
                        </ng-template>
                    </ngb-tab>
                    <!--[/Contraintes]-->
                    <ngb-tab title="Affectations">
                        <ng-template ngbTabContent>
                            <div class="mt-3 ml-3 w-75">
                                <div class="row">
                                    <div class="col-md-8">
                                        <select class="form-control">
                                            <option>Choix ressource mobile</option>
                                            <option>Ressources 1</option>
                                            <option>Ressources 2</option>
                                            <option>Ressources 3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-secondary pull-right">Affecter la ressource</button>
                                    </div>
                                </div>
                                <!--[/row]-->
                                <div class="mt-3">
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Nom Prénom</th>
                                                <th scope="col">Tigramme</th>
                                                <th scope="col">Rôle</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Geoffrey Van Dooren</td>
                                                <td>GVD</td>
                                                <td>Architecte</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Geoffrey Van Dooren</td>
                                                <td>GVD</td>
                                                <td>Architecte</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <!--[/Affectations]-->
                    <ngb-tab title="Intervenants">
                        <ng-template ngbTabContent>
                                <div class="mt-3 ml-3 w-75">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <select class="form-control">
                                                    <option>Choix Intervenant</option>
                                                    <option>Ressources 1</option>
                                                    <option>Ressources 2</option>
                                                    <option>Ressources 3</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <button type="button" class="btn btn-secondary pull-right">Ajouter intervenant</button>
                                            </div>
                                        </div>
                                        <!--[/row]-->
                                        <div class="mt-3">
                                            <table class="table">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">Nom Prénom</th>
                                                        <th scope="col">Tigramme</th>
                                                        <th scope="col">Rôle</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Geoffrey Van Dooren</td>
                                                        <td>GVD</td>
                                                        <td>Architecte</td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Geoffrey Van Dooren</td>
                                                        <td>GVD</td>
                                                        <td>Architecte</td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger btn-sm">Supprimer</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </ng-template>
                    </ngb-tab>
                    <!--[/Intervenants]-->
                    <ngb-tab title="Livrables">
                        <ng-template ngbTabContent>
                            <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
                                Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
                                eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar
                                arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat
                                neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod
                                facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis
                                dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies
                                in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
                        </ng-template>
                    </ngb-tab>
                    <!--[/Livrables]-->
                </ngb-tabset>
            </div>

            <div class="mt-3 pull-right">
                <button class="btn btn-warning">
                    <span class="fa fa-times-circle"></span>
                    Abandonner
                </button>
                <button class="btn btn-primary">
                    <span class="fa fa-save"></span>
                    Sauver
                </button>
            </div>
        </div>
    </div>
</div>