<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLivrableLabel" jhiTranslate="plamobApp.livrable.home.createOrEditLabel">Create or edit a Livrable</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!livrable.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="livrable.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plamobApp.livrable.numSeq" for="field_numSeq">Num Seq</label>
            <input type="number" class="form-control" name="numSeq" id="field_numSeq"
                [(ngModel)]="livrable.numSeq" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plamobApp.livrable.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="livrable.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plamobApp.livrable.dateFin" for="field_dateFin">Date Fin</label>
            <div class="input-group">
                <input id="field_dateFin" type="text" class="form-control" name="dateFin" ngbDatepicker  #dateFinDp="ngbDatepicker" [(ngModel)]="livrable.dateFin"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plamobApp.livrable.remarques" for="field_remarques">Remarques</label>
            <input type="text" class="form-control" name="remarques" id="field_remarques"
                [(ngModel)]="livrable.remarques" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="plamobApp.livrable.mission" for="field_mission">Mission</label>
            <select class="form-control" id="field_mission" name="mission" [(ngModel)]="livrable.missionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="missionOption.id" *ngFor="let missionOption of missions; trackBy: trackMissionById">{{missionOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
