<div class="container">
    <div class="d-inline">
        <h1 class="d-inline">Planning du
            <span class="h3">01/01/2018</span> au
            <span class="h3">15/01/2018</span>
        </h1>
    </div>

    <div class="d-inline pull-right">
        <span>
            <button class="btn btn-primary">
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-left"></i>
            </button>
        </span>
        <span>
            <button class="btn btn-primary">
                <i class="fa fa-angle-right"></i>
                <i class="fa fa-angle-right"></i>
            </button>
        </span>
    </div>
    <hr>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ressource</th>
                    <th scope="col">Mission</th>
                    <th scope="col">01</th>
                    <th scope="col">02</th>
                    <th scope="col">03</th>
                    <th scope="col">04</th>
                    <th scope="col">05</th>
                    <th scope="col">06</th>
                    <th scope="col">07</th>
                    <th scope="col">08</th>
                    <th scope="col">09</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">13</th>
                    <th scope="col">14</th>
                    <th scope="col">15</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Geoffrey Van Dooren</td>
                    <td> SPW 7450-AMADEUS</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Gérard Yannick LAPI EMO</td>
                    <td> PLAMOB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-primary pull-right">Export XLS</button>
</div>